{% extends "base.html" %}
<html>
	{% block content %}
		<head>
		</head>
		<title>{{title}}</title>
		<body>
			<h1>Create a Listing!</h1>
			<p>Please fill out your listing below.</p>
		</body>
	{% endblock %}
	{% block info %}
		<form method="post" action="/form" id="create" enctype="multipart/form-data">
			<h2>Post Something</h2>
			Author: {{ user }}<br>
			<br>Title: <input type="text" name="title" required {% if post and post.title %}value="{{ post.title }}"{% endif %}></input>
			<br>Category: 

			<select type="select" name="category" required>
				<option></option>
				{% for category in categories %}
    			<option value="{{ category }}" {% if post and post.category and post.category == category %}SELECTED{% endif %}>{{ category }}</option>
				{% endfor %}
			</select>


			<br>Picture: <input type="file" name="picture"></input>

			<br>Description: <input type="text" name="description" required {% if post and post.description %}value="{{ post.description }}"{% endif %} ></input>

			<br>Price: <input type="text" name="price" required {% if post and post.price %}value="{{ post.price }}"{% endif %} ></input>

			<br>Contact Email: <input type="text" name="email" required {% if post and post.contact_email %}value="{{ post.contact_email }}"{% endif %} ></input>

			<br>Contact Phone: <input type="text" name="contact" {% if post and post.contact_phone %}value="{{ post.contact_phone }}"{% endif %} ></input>
			{% if post %}<input type="hidden" name="key" value="{{ post.key.id() }}">{% endif %}
			<br><button class="btn btn-primary" type="submit" value="Submit">Submit</button>
		</form>
	{% endblock %}
</html>