{% extends "base.html" %}


<html>
{% block content %}
	<head>
	</head>
		<title>{{title}}</title>
		<body>
			<h1>Welcome to Jack's List!</h1>
			<p>View your posts below!</p>
		</body>
{% endblock %}	

{% block info %}

{% for p in posts %}
{% if user == p.author %}
<p>Title: {{ p.title }}</p>
<p>Description: {{ p.description }}</p>
<p>Picture: {{ p.picture }} </p>
<p>Contact Email: {{ p.contact_email }} </p>
<p>Contact Phone: {{ p.contact_phone }} </p>
<p>Category: {{ p.category }} </p>
<p>Date Posted: {{ p.post_date }}</p>
<br>
{% endif %}
{% else %}
<p> You have made no posts! </p>
{% endfor %}



{% endblock %}


</html>
