<html>
		{% for p in posts %}<br>
			<h4>{{ p.title }}</h4>
			<div class="row">
				<div class="col-md-3">
					{% if p.picture == "" %}
						<img src="http://www2.psd100.com/ppp/2013/09/2601/Camera-icon-0926011829.png" alt="No Image" style="width:200px;height:200px">
					{% else %}
						<p>Picture: {{ p.picture }}</p>
					{% endif %}
				</div>
				<div class="col-md-9">
					<p><b>Description :</b> {{ p.description }}<br>
						<b>Category:</b> {{ p.category }}<br>
						<b>Contact Email:</b> {{ p.contact_email }}<br>
						{% if p.contact_phone == "" %}
						{% else %}
							<b>Contact Phone:</b> {{ p.contact_phone }}<br>
						{% endif %}
					<b>Date Posted:</b> {{ p.post_date }}</p>
				</div>
			</div>
		{% endfor %}
</html>