{% extends "base.html" %}


<html>
{% block content %}
	<head>
	</head>
		<title>{{title}}</title>
		<body>
			<h1>Welcome to Jack's List!</h1>
			<p>Buy and Sell stuff at NAU!</p>
		</body>

{% endblock %}	
{% block info %}
<h3>Post Title</h3>
          <p>This is where we will list the post information, such as a picture, product description, and contact info.</p>
	  <p>This will be pulled from model data with ajax.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
{% endblock %}
</html>
